.message {
    font-size: medium;
      width: 70em;

}

.continue-link
{
  display: inline-block;
  margin-top: 10px;
  margin-left:38.5%;
  padding: 15px 15px;
  font-size: 18px;
  font-family:  Arial, Helvetica, sans-serif;
  line-height: 1.3;
  appearance: none;
  box-shadow: none;
  border-radius: 25px;

  color: #6496c8;
  background: rgba(0,0,0,0);
  border: solid 5px #6496c8;
  text-decoration: none;

}

.continue-link:hover {
  display: inline-block;
  margin-top: 10px;
  margin-left:38.5%;
  padding: 15px 15px;
  font-size: 18px;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  appearance: none;
  box-shadow: none;
  font-weight: bold;
  border-color: #346392;
  color: #346392;
  text-decoration: none;

}
p.progress-text {
    padding-top: 0.5em;
    margin-top: 0;
    margin-bottom: 2em;
    font-style: italic;
    font-size: small;
}
